@import 'tailwindcss';

/* Hide scrollbar for Friends list while preserving scroll (mouse/touch) */
.friends-scroll {
	-ms-overflow-style: none; /* IE/Edge */
	scrollbar-width: none; /* Firefox */
}

.friends-scroll::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background: transparent; /* Chrome/Safari */
}